  <!-- Page Content -->
  <div class="container main">
  <div class="header">Configurations</div>
  <div class="pageContent">
    <p>Server ID:&nbsp;<span class="configDetail">
        <%= configData.deviceId %></span></p>
    <p>Movie list updated:&nbsp;<span class="configDetail">
        <%= configData.JsonListUpdated %></span></p>
    <hr>
    <label for="exampleInputEmail1">JSON path</label>
    <input type="text" class="form-control" id="JsonListPath" aria-describedby="emailHelp" placeholder="https://"
      value="<%= configData.JsonListPath %>">
    <small id="emailHelp" class="form-text text-muted">Populate the movie server db with a JSON file.</small>
    <br>
    <button type="button" class="btn btn-primary"><i class="fas fa-sync"></i>&nbsp;Refresh DB</button>
    <hr>
    <label for="exampleInputEmail1">Use Movie DB</label>
    <input type="text" class="form-control" id="movieDBKey" aria-describedby="emailHelp" placeholder="Api key (V3)"
      value="<%= configData.movieDBKey %>">
    <small id="emailHelp" class="form-text text-muted">Search for movie info automatically using Movie DB api.</small>
    <button type="submit" id="saveChanges" class="btn btn-success"><i class="far fa-save"></i>&nbsp;Save Changes</button>
    <p>&nbsp;</p>
    <div class="header">Power off</div>
    <p>&nbsp;</p>
    <p>To properly shutdown the movie server please click on the button below:</p>
    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal"><i class="fas fa-power-off"></i>&nbsp;Power
      off</button>
    <p>&nbsp;</p>
    <div class="header">About</div>
    <p>&nbsp;</p>
    <p>This software was developed for educational purposes ONLY,
      it does not contain any links or content that infringes the law.</p>
    <p>Follow me: <a class="textLink" href="https://github.com/eoaranda">https://github.com/eoaranda</a></p>
    <p>&nbsp;</p>
    <div class="header">Licenses used</div>
    <p>&nbsp;</p>
    <p>The following sets forth attribution notices for third party software that may be contained in portions of
      this "product".</p>
    <div class="header-sm"><i class="fas fa-chevron-right"></i>&nbsp;GIT</div>
    <div class="header-sm"><i class="fas fa-chevron-right"></i>&nbsp;EJS</div>
    <div class="header-sm"><i class="fas fa-chevron-right"></i>&nbsp;Socket.io</div>
    <div class="header-sm"><i class="fas fa-chevron-right"></i>&nbsp;Bootstrap 3</div>
    <div class="header-sm"><i class="fas fa-chevron-right"></i>&nbsp;NodeJS</div>
    <div class="header-sm"><i class="fas fa-chevron-right"></i>&nbsp;Nginx</div>
    <div class="header-sm"><i class="fas fa-chevron-right"></i>&nbsp;Sqlite</div>
    <div class="header-sm"><i class="fas fa-chevron-right"></i>&nbsp;CentOS</div>
    <div class="header-sm"><i class="fas fa-chevron-right"></i>&nbsp;jQuery</div>
    <div class="header-sm"><i class="fas fa-chevron-right"></i>&nbsp;Fontawsome</div>
    <p>&nbsp;</p>
  </div>
</div>
  <!-- /.container -->

  <!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">Power Off</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      Use this option to shut down completely the movie server in a safe way.
      <br>The green light will blink solidly 10 times (0.5 second intervals). 
      Once it stops blinking, the green light will turn off. 
      At this point, it is safe to remove the power or pull the plug.
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      <button type="button" class="btn btn-danger" id="shutdown">SHUTDOWN</button>
    </div>
  </div>
</div>
</div>


<script>
$('#myModal').on('shown.bs.modal', function () {
  $('#myInput').trigger('focus')
})

$("#shutdown").click(function(){
    $.post("/shutdown", function(data, status){
       console.log("shuting down system");
    });
});


$("#saveChanges").click(function(){
    let data = {};
    data.JsonListPath = $("#JsonListPath").val();
    data.movieDBKey = $("#movieDBKey").val();
    $.post( "/save-config", data)
    .done(function( data ) {
        $("#message").addClass("succesful");
        $("#message").html("Saved succesfully!");
        $("#message").fadeIn();
        setTimeout(function () {
                  $('#message').fadeOut(function(){
                      $(this).html('');
                  });
              }, 2000);    
    }).fail(function() {
      $("#message").addClass("error");
      $("#message").html("There was an error");
      $("#message").fadeIn();
      setTimeout(function () {
                $('#message').fadeOut(function(){
                    $(this).html('');
                });
            }, 2000); 
    });
});


</script>
