<div class="field-input">
  <i class="searchIcon fas fa-search"></i>
  <input id="searchinput" autocomplete="off" type="text" placeholder="Search"/><span> </span>
</div>
    <!-- Page Content -->
    <div class="container">
        <p>&nbsp;</p>
        <div id="pageContent">
            Find what to watch next.
        </div>
    </div>
    <!-- /.container -->

  <!-- Bootstrap core JavaScript -->
  <script>
    $(document).ready(function() {
        $('#searchinput').focus();
    });

    $("#searchinput").focusin(function() {
        $('#menu').hide();
    });

    $("#searchinput").focusout(function() {
      $('#menu').show();
    });


    $(document).keypress(function(e) {
      let searchinput = $('#searchinput').val();
      if(e.which == 13 && searchinput != "") {
        //$( "#searchForm" ).submit();
        $.post( "/search", { searchinput: searchinput })
        .done(function( data ) {
            $('#pageContent').html(data);
        });

      }
    });
    

  </script>
</body>

</html>